.navBar {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--secondary-primary-white, #FFF);
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    color: #429CE3;
}

.navLogo {
    height: 69px;
    flex-shrink: 0;
    border: 0px solid rgba(0, 0, 0, 0.00);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.menuIcon,
.mobNavBar {
    display: none;
}

.navMenu1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navMenu1List {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    list-style-type: none;
    margin: 0;
}

.navMenu1ListItem {
    color: #429CE3;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.navMenu2 {
    display: flex;
    height: 38px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--gray-0210, #FFF);
}

.searchBarContainer {
    display: flex;
    width: 263px;
    height: 39px;
    padding: 10px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    background: var(--bg, #F4F7FE);
}

.searchIcon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.searchInput {
    background: var(--bg, #F4F7FE);
    border: none;
    padding: 1rem;

    height: 20px;
    flex-shrink: 0;
    color: var(--color-icon, #9F9BB9);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.28px;
    position: relative;
}

.searchInput:hover,
.searchInput:focus {
    border: none;
    outline: none;
}

.searchResults {
    display: flex;
    flex-direction: column;
    border: 2px solid #429CE3;
    z-index: 1000;
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 4rem;
    right: 9rem;
    width: 230px;
}




.icons {
    width: 20px;
    height: 20px;
    color: #429CE3;
    cursor: pointer;
}

.profilePicContainer {
    width: 40px;
    height: 40px;
}

.profilePic {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    fill: var(--danger-focus, #FFDFDF);
    width: 37.612px;
    height: 37.612px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.menu {
    display: none;
}


.menuItemLink {
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    .menuIcon {
        display: flex;
        margin: 1rem;
    }

    .navMenu1,
    .navMenu2 {
        display: none;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        background: rgba(127, 97, 169, 0.26);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 0;
    }

    .logoIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .mobNavBar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .navMenu1List {
        display: flex;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        align-items: center;
    }

    .navMenu1ListItem {
        padding: 0.5rem;
        font-size: 1.2rem;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 0.4rem;
    }

    .menuItem {
        flex-shrink: 0;
    }

    .icon {
        width: 100%;
        height: 100%;
        color: #429CE3;
    }



}

@media screen and (max-width: 530px) {
    .menu {
        display: none;
    }

}