.home{
    display: grid;
    grid-template-areas: "left feed right";
    grid-template-columns: minmax(0, 4fr) minmax(0, 14fr) minmax(300px, 5fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

@media screen and (max-width : 750px) {
    .home{
        display: flex;
        flex-direction: column;
        gap: 1rem;
       
    }
    
}

@media screen and (max-width: 1120px) {

    .home{
        grid-template-columns: minmax(0, 7fr) minmax(0, 18fr);
    }
    
}

