.container {
    display: grid;
    grid-template-areas: "left profileContainer others";
    grid-template-columns: minmax(0, 4fr) minmax(0, 14fr) minmax(300px, 5fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 1rem 0 2rem 0;
}

.profile {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user {
    width: 100%;
    height: 497.036px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bannerContainer {
    width: 100%;
}

.banner {
    width: 100%;
    height: 296.45px;
    flex-shrink: 0;
    border-radius: 6px 6px 0px 0px;
    background: url(<path-to-image>), lightgray 9.235px -10.649px / 100% 188.747% no-repeat;

}



.userTitles {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    top: 4rem;
    top: 10rem;
    gap: 1rem;
}

.pic {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 4px solid #FFF;

}

.titleContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.username {
    color: #181818;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.jobtitle {
    color: #181818;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 409.226px;
}

.btns {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
}

.btn {
    width: 153.116px;
    height: 21px;
    flex-shrink: 0;
}



.connectBtn,
.connectBtn:hover {
    display: flex;
    gap: 0.5rem;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border-radius: 16.149px;
    background: #0A66C2;
    width: auto;
}

.msgBtn {
    display: flex;
    gap: 0.5rem;
    color: #0A66C2;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border-radius: 16.149px;
    border: 1px solid #0A66C2;
    width: auto;
}

.moreBtn {
    color: #585858;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #585858;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border-radius: 16.149px;
    border: 1px solid #585858;
    width: auto;
}

.btnTxt {
    margin: 0
}

.info {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E0DFDC;
    background: #FFF;
    padding: 1rem;
}

.generalText {
    color: #303030;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.activity {

    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E0DFDC;
    background: #FFF;
    padding: 1rem;
}



.followers {
    color: #949494;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btns {
    margin: 1rem;
}

.btn {
    display: inline-flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: var(--primary-main, #429CE3);
    color: #FFF;
}

.showPostsContainer {
    border-top: 4px solid #EBEBEB;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showPosts {
    color: #949494;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 1rem;
}

.experienceSection {
    width: 100%;
    height: auto;

    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E0DFDC;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.experienceContainer {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.experienceContainer p {
    margin: 0;
}

.companylogo {
    width: 54px;
    height: 54px;
    flex-shrink: 0;
}


.job {
    color: #181818;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.jobCompany {
    color: #181818;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.jobDate {
    color: #181818;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.jobDesc {
    color: #181818;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    height: auto;
}

.skillSection {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E0DFDC;
    background: #FFF;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.skill {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 2px solid #EBEBEB;
}

.skillText {
    color: #181818;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 178.794px;
}

.interestSection {
    padding: 1rem;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    width: 782.922px;
    height: 280.379px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E0DFDC;
    background: #FFF;
}

.interestContainer {
    display: flex;
    flex-direction: row;
}

.interestContainer .experience {
    padding-left: 1rem;
}

.interestSection p {
    margin: 0;
}

.followBtn {
    color: #666;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 0.4rem;
    border-radius: 15.602px;
    border: 1px solid #666;
}


.others {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

.others p {
    margin: 0;
}

.background {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    background: #FFF;
    padding-right: 1rem;
}


.experienceTitle,
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addExperienceTitle {
    margin-left: 1rem;
    text-wrap: nowrap;
}

.modalBtn {
    all: unset
}

.formInput,
.formInput1,
.formInputTextArea {
    border-radius: 10px;
    background: linear-gradient(0deg, #F4EDFE 0%, #F4EDFE 100%), #F4EDFE;
    width: 290%;
    margin: 1rem;
    padding: 1rem;
    border: none;
}

.formInput1 {
    width: 90%;
}

.formInputTextArea {
    height: 400px
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    margin: 1rem;
}

.btn,
.btn:hover {
    background: #429CE3;
    color: white;
    width: 125px;
    height: 51px;
}


@media screen and (max-width : 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .experienceSection {
        width: 100%;
        height: auto;
    }



}

@media screen and (max-width : 750px) {

    .left,
    .btnTxt {
        display: none;
    }
}